<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Search Engine Meta-->
    <title>WOEID Search Engine | Septellar</title>
    <meta name="Description" content="Find out what are the top Twitter trends in US at the moment. Trends are updated every 60 seconds. Powered by Septellar.">
    <meta name="KeyWords" content="hashtags, trends, twitter, popular, top 10">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/septellar.png')}}"/>
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!-- Custom Styles-->
    <link href="{{url_for('static', filename='css/custom-styles.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/navbar.css')}}" rel="stylesheet"/>
    <!-- FlipClock -->
    <link href="{{url_for('static', filename='css/flipclock.css')}}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Chart Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!-- Data Tables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138397523-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138397523-9');
    </script>


    {% block extrahead %}
    {% endblock %}
</head>


<body>
<!-- WRAPPER -->
<div id="wrapper">

    <!-- TOP NAVBAR -->
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">
                <i class="fas fa-globe"></i><strong> WOEID Search Engine</strong></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">

            <li><a class="nav-link" target="_blank" href="https://github.com/LukaszMalucha/">
                <i class="fab fa-github"></i> Github </a></li>
            <li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" id="trigger">menu</i></a>
            </li>

        </ul>



    </nav>


    <!-- MOBILE -->
    <ul class="sidenav" id="mobile-demo">
        <li><a target="_blank" href="https://github.com/LukaszMalucha/"><i
                class="fab fa-github"></i> GitHub</a></li>
    </ul>

    <!--/. TOP NAVBAR ****************************************************************************************************************************************************************************************** -->

    <!-- PAGE-INDEX -->
    <div id="page-index">
        {% block content %} {% endblock %}


    </div>
</div>


<div class="footer">
    <p><a target="_blank" href="https://www.freeprivacypolicy.com/privacy/view/9b972ff9a2aaeda03f07216c15625791/">Privacy
        Policy</a> • © 2019 - 2020 www.unflasked.com - All Rights Reserved • Powered by Septellar &trade;</p>
</div>


<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Materialize Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- FlipClock Js -->
<script src="{{url_for('static', filename='js/flipclock.min.js')}}"></script>

<!-- Custom Js -->
<script src="{{url_for('static', filename='js/custom-scripts.js')}}"></script>
<script src="{{url_for('static', filename='js/trends.js')}}"></script>

</body>

</html>
