{% extends 'base.html' %}


{% block content %}
<div class="dashboard-cards">
    <div class="row plain-element">
        <div class="col-xs-12 col-sm-3 col-md-3 plain-element" id="activeTrendsColumn">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 plain-element">
            <div class="row row-title">
                <div class="card card-title">
                    <div class="row row-blue">
                        <h1><i class="fas fa-globe"></i> WOEID Search Engine </h1>
                    </div>
                    <br>
                    <div class="row row-form">
                        <div class="input-field col s12">
                            <input id="icon_prefix" type="text" class="validate"  maxlength="50">
                            <label for="icon_prefix">Search for Town, State or Country</label>
                        </div>
                    </div>
                    <div class="row row-button text-center">
                        <a class="btn-trends" target="_blank" href=""><i class="fas fa-search"></i> &nbsp; Find
                            WOEID</a>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row row-cards">
                <div class="card card-data">
                    <div class="card-content" id="woeidData">
                        <table id="dataTable" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Locality</th>
                                <th>State/Province</th>
                                <th>Country</th>
                                <th class="text-right">WOEID</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>US</td>
                                <td class="text-right">32080012</td>
                            </tr>
                            <tr>
                                <td>asdasd n</td>
                                <td>asdasdgg</td>
                                <td>US</td>
                                <td class="text-right">32080012</td>
                            </tr>
                            <tr>
                                <td>Tigegdgd</td>
                                <td>Sysdfsdft</td>
                                <td>US</td>
                                <td class="text-right">32080012</td>
                            </tr>
                            {{ dataset | safe }}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 plain-element">

        </div>
    </div>
</div>

{% endblock %}

{% for element in dataset %}
    <tr>
        <td>{{ element }}</td>
        <td>Sysdfsdft</td>
        <td>US</td>
        <td class="text-right">32080012</td>
    </tr>
{% endfor %}